.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.solidArc:hover {
  fill: orangered ;
}

.solidArc {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.x.axis path {
  display: none;
}

.aster-score { 
  line-height: 1;
  font-weight: bold;
  font-size: 500%;
}

.d3-tip {
  line-height: 1;
  /*font-weight: bold;*/
  padding: 12px;
  background: #DCDCDC;
  color: black;
  border-radius: 2px;
  border: solid 1px black;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.description-aster-plot {
    display: block;
    height: 44px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.description-aster-plot-content {
    padding: 4px 10px !important;
}

#deviationScenariosSummary .col-md-3 {
	padding-left: 5px;
	padding-right: 5px;
}

.deviationScenariosSummary {
	min-height: 60px;
	width: 100%;
	margin: auto auto;
	padding: 8px;
	margin-bottom: 15px;
}

#svgAsterPlot {
	min-height: 500px;
}