.link {
	stroke: #999;
	stroke-opacity: 0.6;
}

.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

div.tooltip {
	position: absolute;
	text-align: left;
	line-height: 1;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
	pointer-events: none;
	font-family: 'Roboto Condensed', sans-serif;
}

div.pinned {
	/*color: #e8941a;*/
	text-align: left;
	
}

g.cell {
	cursor: pointer;
}

g.cell:hover {
	fill-opacity: 0.4;
}

g.cell.active:hover {
	fill-opacity: 1;
}

g.cell text {
	fill: white;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

g.cell.active text {
	fill: #e8941a;
}

.legendSize circle {
	/*        stroke: white;*/
	fill: #999;
	fill-opacity: 0.6;
}

.activeNode {
	cursor: pointer;
}

.baseNode {
	stroke: #e8941a;
	stroke-width: 3px;
}

body {
	margin: 0;
}

svg {
	fill: white;
	width: 100%;
}

#svgResponsibleMethods {
	border: 1px solid black;
	background-color: lightgray;
}

.responsibleMethodDetails {
	min-height: 120px;
	width: 100%;
	margin: auto auto;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 15px;
}

.method-details {
    display: block;
    height: 100px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.method-details-content {
    padding: 4px 10px !important;
}

.method-details-title {
	font-size: 16px;
    margin: 0;
    line-height: 1;
}

div .evolve-legend .legend-block {
	display: inline-block;
	margin-left: 10px;
}

div .evolve-legend .legend-block .legend-square {
	border: 2px solid white;
	width: 20px;
	height: 20px;
	display:inline-block;
	float: left;
    border-radius: 50%;
}

div .evolve-legend .legend-block .legend-text {
	text-align: left;
	margin-left: 10px;
	height: 20px;
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}

#legendBox {
	top: 155px;
	right: 30px;
	position: absolute;
	padding-left: 0px !important;
	padding-right: 0px !important;
	width: 60px;
	transition: width 0.3s;
	-webkit-transition: width 0.3s;
	pointer-events: all;
	cursor: pointer;
}

.box-header > .fa-plus:before,
.box-header > .fa-minus:before {
	/* Este estilo serve para retirar o icone do cabeçalho do accordeon de detalhes */
    content: "";
}

.legend-method {
	background-color: #4baac8;	
}

.legend-optimization {
	background-color: #4d994d;
}

.legend-degradation {
	background-color: #ae921e;
}

#deviationScenariosSummary .col-md-3 {
	padding-left: 5px;
	padding-right: 5px;
}

.deviationScenariosSummary {
	min-height: 60px;
	width: 100%;
	margin: auto auto;
	padding: 8px;
	margin-bottom: 15px;
}


.description-aster-plot {
    display: block;
    height: 44px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.description-aster-plot-content {
    padding: 4px 10px !important;
}

.info-box-content {
	margin-left: 50px !important;
	padding: 2px 10px !important;
}

.info-box {
	min-height: 50px !important;
}

.col-md-1,
.col-md-2,
.col-md-4,
.col-md-7 {
	padding-left: 5px;
	padding-right: 5px;
}