*.iws
*Db.properties
*Db.script
.settings
.classpath
.project
.idea/
.slcache/
stacktrace.log
/*.zip
/*.war
/plugin.xml
/plugins
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
/web-app/git/
*.iml
repositories/
