/*
* Arquivo que contém as customizações de CSS para a página de nova análise.
*/

.wait-message {
	position: absolute;
	top: 60%;
	left: 24%;
	margin-left: -15px;
	margin-top: -15px;
	color: #000;
	font-size: 18px;
	width: 550px;
}