/*
* Arquivo que contém as estilizações personalizadas para a página da exibição do call graph. 
*/



.html-element {
	position: absolute;
}

.html-element span {
	color: black;
	font-size: 10px;
}

.timeSpan {
	position: absolute;
	top: 3px;
	right: 9px;
}

.infoSpan {
	position: absolute;
	top: 3px;
	padding-left: 9px;
	width: 7%;
	cursor: pointer;
}

.releaseTitle {
	width: 50%;
	float: left;
	text-align: center;
}

.generalInfoSpan {
	font-weight: bold;
}

.paper-scroller {
	padding: 20px !important;
}

.info-box-icon {
	height: 50px !important;
	width: 50px !important;
	font-size: 35px !important;
	line-height: 55px !important;
}

.info-box-content {
	margin-left: 50px !important;
	padding: 2px 10px !important;
}

.info-box {
	min-height: 50px !important;
}

.col-md-1,
.col-md-2,
.col-md-4,
.col-md-7 {
	padding-left: 5px;
	padding-right: 5px;
}

#divDescriptionSystem .col-md-1 {
	width: 9.33333333% !important;
}

#divDescriptionSystem .col-md-7 {
	width: 57.33333333% !important;
}

#divDescriptionNodes .col-md-2 {
	width: 20% !important;
}

.popover {
	max-width: 500px;
}

.box {
	border-top: none !important;
	margin-bottom: 5px !important;
}

.box-header > .box-tools {
	top: 9px !important;
}

.label {
	font-size: 83% !important;
}