/*
* Arquivo que contém as estilizações personalizadas para a página da exibição do call graph. 
*/



.html-element {
	position: absolute;
	text-align: center;
}

.html-element span {
	color: black;
	font-size: 10px;
}

.timeSpan {
	/*position: absolute;
	top: 3px;
	right: 9px;*/
}

.infoSpan {
	/*position: absolute;
	top: 3px;*/
	padding-left: 9px;
	margin-top: 5px;
	float: left;
	width: 7%;
	max-width: 25px;
	cursor: pointer;
}

.releaseTitle {
	width: 50%;
	float: left;
	text-align: center;
}

.generalInfoSpan {
	font-weight: bold;
}

.info-box-icon {
	height: 50px !important;
	width: 50px !important;
	font-size: 35px !important;
	line-height: 55px !important;
}

.info-box-content {
	margin-left: 50px !important;
	padding: 2px 10px !important;
}

.info-box {
	min-height: 50px !important;
}

.col-md-1,
.col-md-2,
.col-md-4,
.col-md-7 {
	padding-left: 5px;
	padding-right: 5px;
}

#divDescriptionSystem .col-md-1 {
	width: 9.33333333% !important;
}

#divDescriptionSystem .col-md-7 {
	width: 57.33333333% !important;
}

#divDescriptionNodes .col-md-2 {
	width: 20% !important;
}

.popover {
	max-width: 500px;
	min-width: 300px;
}

.box {
	border-top: none !important;
	margin-bottom: 5px !important;
}

.box-header > .box-tools {
	top: 9px !important;
}

.box-header {
	cursor: pointer;
}

.box-header > .fa-plus:before,
.box-header > .fa-minus:before {
	/* Este estilo serve para retirar o icone do cabeçalho do accordeon de detalhes */
    content: "";
}

.label {
	font-size: 83% !important;
}

div .evolve-paper {
	width: 100%;
	overflow: scroll;
	border: 1px solid black;
	float: right;
}

div .evolve-paper > .evolve-paper-graph {
	padding: 30px;
	position: relative;
	/*overflow: scroll;*/
	cursor: move; 
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

div .evolve-legend .legend-block {
	display: inline-block;
	margin-left: 10px;
}

div .evolve-legend .legend-block .legend-square {
	border: 1px solid black;
	width: 30px;
	height: 20px;
	display:inline-block;
	float: left;
}

div .evolve-legend .legend-block .legend-many-times {
	border-width: 3px !important;
}

div .evolve-legend .legend-block .legend-text {
	text-align: left;
	margin-left: 10px;
	height: 20px;
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}

div .evolve-legend .legend-block .legend-no-deviation {
	background-color: #FFF4DF;	
}

div .evolve-legend .legend-block .legend-optimization, .optimization-color {
	background-color: #99CC99 !important;
}

div .evolve-legend .legend-block .legend-degradation, .degradation-color {
	background-color: #E5CC66 !important;
}

div .evolve-legend .legend-block .legend-added, .added-color {
	background-color: LightSalmon !important;
}

div .evolve-legend .legend-block .legend-removed, .removed-color {
	background-color: #AAAAAA !important;
}

#legendBox {
	top: 90px;
	right: 18px;
	position: absolute;
	padding-left: 0px !important;
	padding-right: 0px !important;
	width: 60px;
	transition: width 0.3s;
	-webkit-transition: width 0.3s;
}

.legend-block > .legend-square > .arrow,
.legend-square-arrow > .arrow {
	font-size: 18px;
	margin-top: 4px;
}

.legend-square-arrow {
	width: 20px;
	display: flex;
	position: relative;
	float: left;
	height: 50px;
	align-items: center;
}

.legend-description-arrow {
	width: 245px;
	float: right;
	height: 50px;
	display: flex;
	align-items: center;
}

.potentially-caused-deviation {
	color: red;
	font-style: italic;
	font-weight: bold;
}

.divDeviationArrows {
	display: table;
	font-size: 18px;
    visibility: visible;
    position: absolute;
    bottom: 0px;
    right: 6px;
    width: 18px;
    height: 45px;
}

.divDeviationArrows .optimization,
.legend-block > .legend-square > .optimization,
.legend-square-arrow > .optimization {
	color: green;
}

.divDeviationArrows .degradation,
.legend-block > .legend-square > .degradation,
.legend-square-arrow > .degradation {
	color: red;
}

.divDeviationArrows > div {
	display: table-cell;
    width: 10%;
    height: 100%;
    vertical-align: bottom;
}
.divDeviationArrows .arrow {
	position: absolute;
    bottom: 0px;
}
.divDeviationArrows .arrow2 {
	margin-bottom: 10px;
}
.divDeviationArrows .arrow3 {
	margin-bottom: 20px;
}
.divDeviationArrows .arrow4 {
	margin-bottom: 30px;
}

.custom-icon {
	color: white !important;	
}

.progress {
	min-width: 140px;
	margin-bottom: 5px !important;
}

.progress-bar {
	font-size: 11px;
	min-width: 4.5em;
	max-width: 80%;
}

.small-info-progress-bar {
	float:right;
	width: 45px;
}

.span-info-progress-bar {
	float: left;
	text-align: right;
	margin-right: 3px;
}